*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: gold;
}

.container {
  max-width: 900px;
  width: 100%;
  padding: 10px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 100px solid #fff;
  border-image: url("/img/border.jpg") 27% round;
}

button {
  position: relative;
  width: 250px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: none;
  border: none;
  outline: none;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

button::before {
  content: "";
  background: black;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}

button:hover::before {
  background: linear-gradient(to right, black, red, black);
  filter: url(#wave);
}

@media only screen and (max-width:500px) {
  button {
    width: 100%;
    font-size: 20px;
  }

  .container {
    border-width: 50px;
  }

  svg {
    display: none;
  }
}